@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>*@
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <div class="jumbotron" align="center" style="margin-top: 20px;">
        <h1><strong>Marigold Inventory Management - LIVE 😎</strong></h1>
        <p class="lead">Welcome to the marigold inventory management tool. We are delighted to store and manage your items using our service. </p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row" align="justify" style="background-color:lightgray;opacity:0.85;margin:inherit;">
        <div class="col-md-4">
            <h2>Inventory</h2>
            <p>
                Business professionals will appreciate the ability to management inventory data in an easy to use platform.
                We offer readily availabity due to our cloud hosting, allowing you and other business users seamless access
                to the app.

            </p>
            <p><a class="btn btn-primary" asp-controller="Inventory" asp-action="Index">Home &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>About</h2>
            <p>
                At Marigold Software Suites, your data safety and privacy is our top priority. We maintain Azure Active Directory to ensure
                that we make use of the best-in-class security tool for managing user and customer data.
            </p>
            <p><a class="btn btn-primary" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Contact</h2>
            <p>
                Marigold Inventory is one of the best around and we strive for quality at all points.
                Contact us today to schedule a demo
            </p>
            <p><a class="btn btn-primary" href="#">Contact Us &raquo;</a></p>
        </div>
    </div>
</div>
